

#mySidenav a {
    position: absolute; 
    left: -80px; 
    transition: 0.3s; 
    padding: 15px; 
    width: 100px;
    text-decoration: none; 
    font-size: 20px; 
    color: white;
    border-radius: 0 5px 5px 0;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  .panel-body {
    background:#fff;
  }

  .icon-bar a:hover {
    left: 0;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  #cir{
    background-image: url('https://cdn.wallpapersafari.com/60/34/p2SGlR.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100% !important;
        width: 100% !important;
  }
  /*horizondal box*/
  #one{
    height:500px;
	width:28%;
	background-image: linear-gradient(to right bottom, #fbc2eb, #d9c0fa, #a8c2ff, #6bc3fa, #17c2e4);
	margin:20px;
	margin-left:5%;
	box-shadow:0px 0px 10px 0px;
	display:inline-block;
	padding-top:30px;
  float:left;
  border-radius: 30px;
}
#two{
  height:500px;
	width:28%;
	background-image: linear-gradient(to right bottom, #9893e4, #7face6, #009ff1, #00c5ac, #17e45b);
  margin:20px;
  color: honeydew;
	box-shadow:0px 0px 10px 0px;
	display:inline-block;
	padding-top:30px;
  float:left;
  border-radius: 30px;
}
#three{
  height:500px;
	width:28%;
	background-image: linear-gradient(to right bottom, #9859d2, #ee5ca2, #ff887b, #f9bd78, #e3eba4);
	margin:20px;
  box-shadow:0px 0px 10px 0px;
	display:inline-block;
	padding-top:30px;
  float:left;
  border-radius: 30px;
}
@media only screen and (min-width:320px) and (max-width:720px){
#one{
  height:auto;
	width:90%;
	float:none;
  padding-bottom:50px;
  
}
#two{
  height:auto;
	width:90%;
	float:none;
	padding-bottom:50px;
}
#three{
  height:auto;
	width:90%;
	float:none;
	padding-bottom:50px;
}
}
h2{
  font-family: 'Kaushan Script', cursive;
  color: #fff;
}
#fon{
  color:white;
}
